//colors
$first-color: rgb(129, 126, 126);
$second-color: rgb(190, 114, 14);
$third-color: rgb(63, 47, 17);
$forth-color: rgb(223, 223, 29);
$sixth-color: rgb(68, 164, 202);
$seventh-color: rgb(40, 182, 40);
$eighth-color: rgb(255, 255, 255);
$ninth-color:rgb(12, 12, 12);



// Size
$extra-tiny:.5rem;
$tiny:1rem;
$small:2rem;
$medium:4rem;
$large:10rem;
$huge:20rem;
